@font-face{
  font-family: "Calibri";
  src: url("../fonts/Calibri.eot");
  src: url("../fonts/Calibri.eot?#iefix") format("eot"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype"), url("../fonts/Calibri.svg#agel") format("svg");
}

html { height: 100% }
body {
  background: #f0f3f5;
  color: #999;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  padding: $navBarHeight 0 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

span.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.btn-circle {
  @include border-radius(10px);
  font-size: 12px;
  height: 20px;
  margin: 10px 10px 10px 0px;
  padding: 2px 0;
  text-align: center;
  width: 20px;
}

.panel-body {
  padding: 0;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

.content {
  height: 100%;
  overflow-y: scroll;
}

.panel-default {
  @include border-radius(0);
  border-left: 0;
  border-top: 0;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  .panel-heading {
    @include border-radius(0);
    background: #000;
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    height: 39px;
    padding: 10px;
    margin: 0;
    .btn {
      font-size: 11px;
      margin: 0;
    }
  }
  .panel-body {
    position: relative;
    height: 100%;
    .message.info {
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      margin: -20px 0 0 -250px;
      text-align: center;
      top: 50%;
      left: 50%;
      width: 500px;
    }
  }
  &.events-list, &.speakers-list {
    border: 0;
  }
}

.list-group-item, .list-group-item:first-child, .list-group-item:last-child {
  @include border-radius(0);
  border: 0;
  border-bottom: 1px solid #CCC;
  margin: 0;
}

.categories-list, .items-list {
  height: 100%;
  $activeItemBgColor: #9cb6d1;

  .list-group-item {
    padding: 0;
    a {
      display: block;
      line-height: 10px;
      padding: 15px 10px;
      width: 100%;
    }
    &.active {
      background: $activeItemBgColor !important;
      border-bottom: 1px solid $activeItemBgColor !important;
    }
    .event-title, .speaker-title {
      line-height: 10px;
      padding: 15px 10px;
    }
  }
  .list-group-item:nth-child(odd) {
    background-color: #eee;
  }
  .list-group-item:hover {
    color: white;
    background: $activeItemBgColor;
  }
}

.categories-list {
  width: 300px;
  border-right: 1px solid #CCC;
}

