.modal-centered {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .modal-body {
    text-align: left;
  }
  .modal-sm, .modal-lg {
    display: inline-block;
    vertical-align: middle;
  }
  .modal-sm {
    width: 500px;
  }
  .modal-lg {
    width: 800px;
  }
}

.modal-confirmation {
  .modal-footer, .modal-header {
    text-align: center;
  }
}

.modal-footer, .modal-header {
  border: 0;
}

.modal-footer {
  padding-top: 0;
  button {
    min-width: 100px;
  }
}

.modal-body {
  padding-bottom: 0;
}

.login-form-container {
  height: 100%;
  margin-top: -50px;
  .error-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
  }
}