.navbar {

  height: $navBarHeight;

  li a, li a:hover {
    background: transparent;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }

  &.navbar-fixed-top {
    background: #526375;
    margin: 0;
    padding-top: 30px;

    $activeLinkColor: #FFF;
    .primary {
      margin: 0 0 0 0;
      li {
        border: 0;
        margin: 0 40px 0 0;
        a, a:hover {
          padding: 0;
        }
        a:hover {
          color: $activeLinkColor;
        }
      }
      li.active {
        a, a:hover {
          color: $activeLinkColor;
        }
      }
    }

    .secondary {
      margin: 0 0 0 0;
      li {
        border: 0;
        margin: 0 0 0 40px;
        a, a:hover {
          padding: 0;
          color: $activeLinkColor;
          font-size: 14px;
        }
      }
    }

  }

}
