.panel-default {
  @include border-radius(0);
  border-left: 0;
  border-top: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  .panel-heading {
    @include border-radius(0);
    background: #000;
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    height: 39px;
    padding: 10px;
    margin: 0;
    .btn {
      font-size: 11px;
      margin: 0;
    }
  }
  .panel-body {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    .message.info {
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      margin: -20px 0 0 -250px;
      text-align: center;
      top: 50%;
      left: 50%;
      width: 500px;
    }
  }
  &.events-list, &.speakers-list {
    border: 0;
  }
}