<div class="panel panel-default pull-left categories-list">
  <div class="panel-heading">
    <span class="pull-left">Категории событий:</span>
    <button type="button" class="btn btn-success btn-xs pull-right btn-circle" ng-click="addCategory()" title="Добавить категорию"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li bindonce ng-repeat="category in categories | orderCategoriesBy:'name'" active-navigation-class="active" segment="3" class="list-group-item">
        <button type="button" class="btn btn-danger btn-xs pull-right btn-circle" ng-show="category._id" ng-click="deleteCategory(category)" title="Удалить категорию"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-info btn-xs pull-right btn-circle" ng-show="category._id" ng-click="editCategory(category)" title="Редактировать категорию"><span class="glyphicon glyphicon-pencil"></span></button>
        <div><a bo-href="'/events/tag/' + (category.slug || 'uncategorised')" bo-text="category.name"></a></div>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default items-list events-list">
  <div class="panel-heading">
    <span ng-show="category.name" ng-bind="'События в категории: ' + category.name"></span>
    <button ng-show="category.name" type="button" class="btn btn-success btn-xs pull-right btn-circle" ng-click="addEvent()"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li bindonce class="list-group-item" ng-repeat="event in events | orderBy:'name':false">
        <button type="button" class="btn btn-danger btn-xs pull-right btn-circle" ng-click="deleteEvent(event)" title="Удалить событие полностью"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-warning btn-xs pull-right btn-circle" ng-click="deleteEventFromCategory(event, category)" ng-show="category._id" title="Убрать событие из категории"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" class="btn btn-info btn-xs pull-right btn-circle" ng-click="editEvent(event)"><span class="glyphicon glyphicon-pencil" title="Редактировать событие"></span></button>
        <div class="event-title" bo-text="event.name"></div>
        <div class="clearfix"></div>
      </li>
    </ul>
    <div class="info message" ng-show="events.length == 0  || !category" ng-bind="message"></div>
  </div>
</div>

<div class="clearfix"></div>