<div class="datetimepicker">
  <ng-form name="datepickerForm">
    <div class="col-sm-3">
      <p class="input-group">
        <input type='text' name="dateInput" class='form-control' ng-change="onChanged(date)" ng-model='date' is-open="opened" datepicker-popup='dd-MMMM-yyyy' starting-day="1" show-weeks="false" show-button-bar="false" required />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <span class="error" ng-show="datepickerForm.dateInput.$error.required">Невалидная дата</span>
    </div>
    <div class="col-sm-2">
      <timepicker ng-model="date" ng-change="onChanged(date)" hour-step="1" minute-step="30" show-meridian="false" class="timepicker"></timepicker>
    </div>
  </ng-form>
</div>