<form class="form-horizontal" role="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="event-name" class="control-label col-sm-3">Изображение:</label>
      <div class="col-sm-5">
        <image-file-upload src="$parent.event.logo" type="event"></image-file-upload>
      </div>
    </div>
    <div class="form-group">
      <label for="event-name" class="control-label col-sm-3">Название:</label>
      <div class="col-sm-9">
        <input ng-model="$parent.event.name" id="event-name" class="form-control" placeholder="Название" />
      </div>
    </div>
    <div class="form-group">
      <label for="event-short-name" class="control-label col-sm-3">Короткое название:</label>
      <div class="col-sm-5">
        <input ng-model="$parent.event.shortName" id="event-short-name" class="form-control" placeholder="Сокр. название (макс. 20 символов)" />
      </div>
    </div>
    <div class="form-group">
      <label for="event-city" class="control-label col-sm-3">Город:</label>
      <div class="col-sm-5">
        <input ng-model="$parent.event.city" id="event-city" class="form-control" placeholder="Город" />
      </div>
    </div>
    <div class="form-group">
      <label for="event-place" class="control-label col-sm-3">Место:</label>
      <div class="col-sm-5">
        <input ng-model="$parent.event.place" id="event-place" class="form-control" placeholder="Место" />
      </div>
    </div>
    <div class="form-group">
      <datetime-picker timestamp="$parent.event.startdate" label="Начало" id="event-startdate"></datetime-picker>
    </div>
    <div class="form-group">
      <datetime-picker timestamp="$parent.event.enddate" label="Конец" id="event-enddate"></datetime-picker>
    </div>
    <div class="form-group">
      <label for="event-short-description" class="control-label col-sm-3">Короткое описание:</label>
      <div class="col-sm-9">
        <textarea ng-model="$parent.event.shortDescription" id="event-short-description" class="form-control" placeholder="Сокр. описание (макс. 250 символов)" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="event-long-description" class="control-label col-sm-3">Описание:</label>
      <div class="col-sm-9">
        <textarea ui-tinymce="tinymceOptions" ng-model="$parent.event.longDescription" id="event-long-description" class="form-control" rows="10"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary" ng-click="ok()">Ок</button>
  </div>
</form>