<div class="panel panel-default pull-left categories-list">
  <div class="panel-heading">
    <span class="pull-left">Категории докладчиков:</span>
    <button type="button" class="btn btn-success btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li bindonce ng-repeat="category in categories | orderCategoriesBy:'name'" active-navigation-class="active" segment="3" class="list-group-item">
        <button type="button" class="btn btn-warning btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-info btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-pencil"></span></button>
        <div><a bo-href="'/speakers/tag/' + category.slug" bo-text="category.name"></a></div>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default items-list speakers-list">
  <div class="panel-heading">
    <span ng-show="category.name" ng-bind="'Докладчики в категории: ' + category.name"></span>
    <button ng-show="category.name" type="button" class="btn btn-success btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li bindonce ng-repeat="speaker in speakers | orderBy:'name':false" class="list-group-item">
        <button type="button" class="btn btn-warning btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-info btn-xs pull-right btn-circle"><span class="glyphicon glyphicon-pencil"></span></button>
        <div bo-text="speaker.name" class="speaker-title"></div>
        <div class="clearfix"></div>
      </li>
    </ul>
    <div class="info message" ng-show="speakers.length == 0  || !category" ng-bind="message"></div>
  </div>
</div>

<div class="clearfix"></div>